<div class="row">

  <article>
    <h1>About</h1>
    <img style="width: 50%" align="right" src="./assets/corne.png" alt="Corne keyboard layout">
    <p>This project was started because I want to have an easier way to create <a href="https://zmk.dev/">ZMK&nbsp;
      <fa-icon [icon]="faExternalLinkAlt"></fa-icon></a>
      keymaps for the keyboards that  I build. The existing process of editing a C source file is quite error prone,
      especially for someone who is not familiar with that language.</p>



    <p>The plan is to be able to graphically order representations of keys so that the layout resembles the physical
      layout of the keyboard. The main goal however is to assign behaviors to the keys and then to generate the C source
      files that are the basis for the firmware.</p>

    <p>In an ideal situation the editor can commit the source files to the local repo and then push to the github remote
      which then starts the build workflow. The resulting firmware artefacts are then downloadable to the local system.</p>

    <p>The source code for this application is <a href="https://github.com/tammingaj/keymap-editor">hosted on Github&nbsp;
      <fa-icon [icon]="faExternalLinkAlt"></fa-icon></a></p>

    <p>Load a sample keymap to start playing around:</p>
    <ul>
      <li>Corne</li>
      <li>Miniki v2</li>
    </ul>

    <a class="btn btn-primary" href='https://ko-fi.com/W7W73AH0S' target='_blank'>
      <fa-icon [icon]="faCoffee" class="float-left mr-2"></fa-icon>
      Buy me a coffee
    </a>

  </article>

</div>
