<div class="row" style="margin: 0rem 1rem 1rem 1rem">
  <article>
    <h1>About</h1>
    <img style="width: 50%; margin-left: 15px;" align="right" src="./assets/corne.png" alt="Corne keyboard layout">
    <p>
      Do you like aligning all those columns in your <a href="https://zmk.dev/" target="_blank">
      ZMK&nbsp;<fa-icon [icon]="faExternalLinkAlt"></fa-icon></a> keymap files? Well I know I didn't, and that is why I started the
      keymapper.dev webapp.</p>

    <p>The application lets you graphically order the keys so that the layout on screen more or less resembles the
      physical layout of the keyboard. Then you can define the layers that you need and assign a behavior to each key in
      each layer. As a last step it is possible to define combos that let you add a behavior to a combination of
      simultaneously pressed keys. The .keymap file will be generated automatically but it is possible to apply your own
      1337ness in the integrated code editor.</p>

    <p>When the code is to your liking just copy it to the clipboard or download it to a local file to further process
      it in your ZMK project.</p>

    <p>The menu lets you import or export the configuration in the form of a .json file, to facilitate sharing.</p>

    <p>Click one of the links below to load a sample keymap to start playing around.</p>

    <div class="row text-center">
      <div class="col-4 border border-2 rounded">
        <a href="" (click)="keyMapService.load('miniki')">
          <img src="/assets/miniki-layout.png" alt="" class="img-fluid">
          Miniki v2
        </a>
      </div>
      <div class="col-4 border border-2 rounded">
        <a href="" (click)="keyMapService.load('corne')">
          <img src="/assets/corne-layout.png" alt="" class="img-fluid">
          Corne
        </a>
      </div>
      <div class="col-4 border border-2 rounded">
        <a href="" (click)="keyMapService.load('fumble')">
          <img src="/assets/miniki-layout.png" alt="" class="img-fluid">
          Fumble board
        </a>
      </div>
    </div>
  </article>
</div>
