<h3>{{behavior.getLabel()}}</h3>
<div ngbDropdown class="d-inline-block">
  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{behavior.getLabel()}}</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button ngbDropdownItem (click)="selectBehavior('combo')">Combo</button>
    <button ngbDropdownItem (click)="selectBehavior('&kp')">Keypress</button>
    <button ngbDropdownItem (click)="selectBehavior('&hm')">Modifier</button>
    <button ngbDropdownItem (click)="selectBehavior('&none')">None</button>
    <button ngbDropdownItem (click)="selectBehavior('&trans')">Transparent</button>
  </div>
</div>
<button class="btn btn-info btn-block" (click)="deleteSelectedBehavior()">Delete</button>
