<div>
  This part will contain the visual representation of the keyboard <br>
  <button (click)="startGeneration()">Generate</button>
  <button (click)="addKey()">Add a key</button>
  <button (click)="save()">Save</button>
  <span>Number of keys: {{getKeyConfigs().length}}</span>
  <div id="arena">
    <key *ngFor="let keyConfig of getKeyConfigs()" [config]="keyConfig" (selected)="registerSelected(keyConfig)"></key>
  </div>
</div>
<hr>
<key-details [config]="getLastSelected()"></key-details>
<p>
  This is the generated code file: <br>
  <span *ngFor="let line of getCodeFile()">
    {{line}}<br>
  </span>
  <button *ngIf="getCodeFile().length > 0" (click)="buildFirmware()">Build firmware</button>
</p>
