<div #arena
     id="arena"
     preserveAspectRatio="xMidYMid meet"
     (click)="keyMapService.deselectKeys()">
  <key *ngFor="let keyConfig of getKeyConfigs()"
       [config]="keyConfig"
       [mode]="mode"
       (selected)="registerSelected(keyConfig)"
       [arena]="{'width':arena.offsetWidth,'height':arena.offsetHeight}">
  </key>
  <div>
    <combo-display *ngFor="let combo of getCombos()" [combo]="combo"
                   [arena]="{'width':arena.offsetWidth,'height':arena.offsetHeight}">
    </combo-display>
  </div>
</div>
