<form>
  <div class="form-group">
    <label for="comboName" class="col-lg-2">Name</label>
    <input [(ngModel)]="combo.name" id="comboName" name="comboName" type="text" >
  </div>
  <div class="form-group">
    <label for="comboTimeout" class="col-lg-2">Timeout (ms)</label>
    <input [(ngModel)]="combo.timeout" id="comboTimeout" name="comboTimeout" type="number" >
  </div>
  <div class="form-group">
    <label class="col-lg-2">Active in layers:</label>
    <div *ngFor="let layer of layers" class="form-check col-lg-2">
      <input class="form-check-input" (change)="onLayerChange(layer, $event)" type="checkbox" value="" id="'flexCheckDefault'+$index">
      <label class="form-check-label" for="'flexCheckDefault'+$index">{{layer.name}}</label>
    </div>
  </div>
</form>
