<form>
  <div class="form-group m-1">
    <label for="comboName" class="col-lg-2">Name</label>
    <input [(ngModel)]="combo.name" id="comboName" name="comboName" type="text" >
  </div>

  <div class="form-group m-1">
    <label for="comboBinding" class="col-lg-2">Binding</label>
    <button id="comboBinding" class="btn btn-outline-primary" (click)="showKeycodeSelector()">{{combo.binding||'Select binding'}}</button>
  </div>

  <div class="form-group m-1">
    <label for="comboKeys" class="col-lg-2">Keys</label>
    <input id="comboKeys" disabled name="comboKeys" type="text" value="{{combo.keys?combo.keys.join():''}}" title="Select the keys in the keyboard above">
  </div>

  <div class="form-group m-1">
    <label class="col-lg-2">Active in layers:</label>
    <div *ngFor="let layer of layers; index as idx" class="form-check-inline">
      <input type="checkbox"
             class="form-check-input"
             (change)="onLayerChange(layer, $event)"
             [checked]="isLayerChecked(layer)"
             id="'flexCheckDefault'+idx"
             name="'flexCheckDefault'+idx">
      <label class="form-check-label" for="'flexCheckDefault'+idx">{{layer.name}}</label>
    </div>
  </div>

  <div class="form-group m-1">
    <label for="comboColor" class="col-lg-2">Color</label>
    <input id="comboColor" [(ngModel)]="combo.color" name="comboColor" type="color">
  </div>

  <div class="form-group m-1">
    <label for="comboTimeout" class="col-lg-2">Timeout (ms)</label>
    <input [(ngModel)]="combo.timeout" id="comboTimeout" name="comboTimeout" type="number" >
  </div>
</form>
