<div class="row" *ngIf="config.active">

  <div class="col-lg-4">
    <h3>Behaviors</h3>
    <div class="btn-group-toggle" data-toggle="buttons">
      <button *ngFor="let behavior of keyMapService.currentKeyBehaviors$ | async"
              class="btn btn-primary btn-block"
              [ngClass]="behavior === selectedBehavior?'btn-primary':'btn-secondary'"
              (click)="selectBehavior(behavior)">
        {{behavior.getLabel() + ' ' + behavior.value}}
      </button>
      <button class="btn btn-info btn-block" (click)="addBehavior()">+</button>
    </div>
  </div>

  <div class="col-lg-4" *ngIf="selectedBehavior">
    <behavior-selector></behavior-selector>
  </div>
</div>
