<div class="container">
  <nav class="navbar navbar-expand-lg navbar-themed bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Keymap Editor</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <div ngbDropdown class="d-inline-block">
            <a routerLink="/layout" routerLinkActive="active" class="nav-item nav-link float-left">Layout</a>
            <a class="nav-item nav-link dropdown-toggle-split float-left ml-n2" id="dropdownMenu1" ngbDropdownToggle> </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <button class="dropdown-item" (click)="newKeymap()">New keymap</button>
              <button class="dropdown-item" (click)="save()">Keep for next time</button>
              <button class="dropdown-item" (click)="fileInput.click()">Import configuration</button>
              <button class="dropdown-item" (click)="export()">Export configuration</button>
            </div>
          </div>
        </li>
        <li>
          <a routerLink="/behavior" routerLinkActive="active" class="nav-item nav-link">Behavior</a>
        </li>
        <li>
          <a routerLink="/combos" routerLinkActive="active" class="nav-item nav-link">Combos</a>
        </li>
        <li>
          <a routerLink="/code" routerLinkActive="active" class="nav-item nav-link">Code</a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="active" class="nav-item nav-link">About</a>
        </li>
      </ul>

      <a routerLink="/settings" routerLinkActive="active" class="nav-item nav-link float-right">
        <fa-icon [icon]="faCog" class="float-left mr-2"></fa-icon>
      </a>
  <!--    <button type="button" class="btn btn-secondary float-right" (click)="toggleTheme()">{{otherThemeName()}}</button>-->
    </div>
  </nav>
</div>


<div class="container">
  <div class="name-banner">
    <h1 class="h1">{{keyMapService.getKeymapName()}}</h1>
  </div>

  <router-outlet></router-outlet>

  <!-- hidden input to facilitate importing keymap files from dropdown in nav -->
  <input #fileInput
    style="display: none"
    type="file" (change)="onFileChanged($event)">

</div>

<footer class="container font-small blue pt-4">
  <hr>

  <div class="container-fluid text-center text-md-left">

    <div class="row">
      <div class="col-md-7 mb-md-0 mb-3">
        <ul class="list-unstyled">
          <li>
            © 2022 Copyright:
            <a href="https://github.com/tammingaj/keymap-editor/graphs/contributors"> Keymap Editor contributors</a>
          </li>
          <li>
            <a href="https://github.com/tammingaj/keymap-editor/graphs/contributors"> Licence</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 mb-md-0 mb-3">
        <ul class="list-unstyled">
          <li>
            <a href='https://discord.gg/6DjNxN68n6' target='_blank'>
              <fa-icon [icon]="faDiscord" class="float-left mr-2"></fa-icon>
              Discuss on Discord
            </a>
          </li>
          <li>
            <a href='https://ko-fi.com/W7W73AH0S' target='_blank'>
              <fa-icon [icon]="faDonate" class="float-left mr-2"></fa-icon>
              Donate
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-2 mb-md-0 mb-3">
        <ul class="list-unstyled">
          <li>
            <a href='https://github.com/tammingaj/keymap-editor' target='_blank'>
              <fa-icon [icon]="faGithub" class="float-left mr-2"></fa-icon>
              Source code
            </a>
          </li>
          <li>
            <a href='https://github.com/tammingaj/keymap-editor/issues' target='_blank'>
              <fa-icon [icon]="faBug" class="float-left mr-2"></fa-icon>
              Have an issue?
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>

</footer>
