<div class="row">
  <layout-editor  [mode]="'layout'" class="col"></layout-editor>
</div>
<hr>
<!--<div class="row m-2">-->
<!--  <form class="form-inline">-->
<!--    <div class="form-group col-sm-4">-->
<!--      <label for="inputRows" class="col-sm-3 col-form-label">Rows</label>-->
<!--      <div class="col-sm-9">-->
<!--        <input [(ngModel)]="keyMapService.keyMapConfig.rows" type="number" class="form-control" id="inputRows" name="inputRows" placeholder="Number of rows">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-group col-sm-4">-->
<!--      <label for="inputCols" class="col-sm-3 col-form-label">Columns</label>-->
<!--      <div class="col-sm-9">-->
<!--        <input [(ngModel)]="keyMapService.keyMapConfig.cols" type="number" class="form-control" id="inputCols" name="inputCols" placeholder="Number of columns">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-group col-sm-4">-->
<!--      <label for="inputKeys" class="col-sm-3 col-form-label">Keys</label>-->
<!--      <div class="col-sm-9">-->
<!--        <input [value]="'' + keys.length + ' of ' + (keyMapService.keyMapConfig.rows * keyMapService.keyMapConfig.cols) + ' max.'"  readonly type="text" class="form-control" id="inputKeys" placeholder="Number of columns">-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->

<div class="row m-2">
  <article>
    <p>Click one or more of the key icons above and move them around with the arrow keys on your physical keyboard. Use
      Home and End keys for rotation.</p>
    <p></p>
  </article>
</div>
<div class="row m-2">
  <form class="col-6">
    <div class="form-group m-1">
      <label for="keymapName" class="col-3">Name</label>
      <input [(ngModel)]="keyMapService.keyMapConfig.name" id="keymapName" name="keymapName" type="text" >
    </div>
    <div class="form-group m-1">
      <label for="githubUrl" class="col-3">Github url</label>
      <input [(ngModel)]="keyMapService.keyMapConfig.githubUrl" id="githubUrl" name="githubUrl" type="text" >
    </div>

  </form>
  <form class="col-6" *ngIf="keyMapService.keyMapConfig.split">
    <div class="form-check">
      <input [(ngModel)]="keyMapService.highlight.row" class="form-check-input" type="checkbox" id="rowCheck" name="rowCheck">
      <label class="form-check-label" for="rowCheck">
        Highlight row of selected key
      </label>
    </div>
    <div class="form-check">
      <input [(ngModel)]="keyMapService.highlight.column" class="form-check-input" type="checkbox" id="columnCheck" name="columnCheck">
      <label class="form-check-label" for="columnCheck">
        Highlight column of selected key
      </label>
    </div>
    <div  class="form-check">
      <input [(ngModel)]="keyMapService.highlight.side" class="form-check-input" type="checkbox" id="leftCheck" name="leftCheck">
      <label class="form-check-label" for="leftCheck">
        Highlight same half
      </label>
    </div>
  </form>
</div>

