<h1>Keymap: {{keyMapService.keyMapConfig.name}}</h1>
<div class="row m-2">
  <form class="form-inline">
    <div class="form-group col-sm-4">
      <label for="inputRows" class="col-sm-3 col-form-label">Rows</label>
      <div class="col-sm-9">
        <input [(ngModel)]="keyMapService.keyMapConfig.rows" type="number" class="form-control" id="inputRows" name="inputRows" placeholder="Number of rows">
      </div>
    </div>
    <div class="form-group col-sm-4">
      <label for="inputCols" class="col-sm-3 col-form-label">Columns</label>
      <div class="col-sm-9">
        <input [(ngModel)]="keyMapService.keyMapConfig.cols" type="number" class="form-control" id="inputCols" name="inputCols" placeholder="Number of columns">
      </div>
    </div>
    <div class="form-group col-sm-4">
      <label for="inputKeys" class="col-sm-3 col-form-label">Keys</label>
      <div class="col-sm-9">
        <input [value]="'' + keys.length + ' of ' + (keyMapService.keyMapConfig.rows * keyMapService.keyMapConfig.cols) + ' max.'"  readonly type="text" class="form-control" id="inputKeys" placeholder="Number of columns">
      </div>
    </div>
  </form>
</div>

<svg width="100%" style="aspect-ratio: 3; border: 1px solid black; background-color: #343a40;" preserveAspectRatio="xMidYMid meet" class="row m-2">
  <ng-container *ngFor="let keyConfig of getKeyConfigs()">
    <g (click)="selectKey(keyConfig)" [ngStyle]="getStyle(keyConfig)">
      <rect [attr.x]="keyConfig.x" [attr.y]="keyConfig.y" width="50" height="50" stroke="white" stroke-width="1" style="rx: 4px"></rect>
      <text [attr.x]="keyConfig.x + 20" [attr.y]="keyConfig.y + 25" fill="red">{{keyConfig.keyNumber}}</text>
    </g>
  </ng-container>
  Sorry, your browser does not support inline SVG.
</svg>

<div class="row m-2">
  <form>
    <div class="form-check">
      <input [(ngModel)]="highlightRow" class="form-check-input" type="checkbox" id="rowCheck" name="rowCheck">
      <label class="form-check-label" for="rowCheck">
        Highlight row of selected key
      </label>
    </div>
    <div class="form-check">
      <input [(ngModel)]="highlightColumn" class="form-check-input" type="checkbox" id="columnCheck" name="columnCheck">
      <label class="form-check-label" for="columnCheck">
        Highlight column of selected key
      </label>
    </div>
  </form>
</div>

<button class="btn btn-primary" (click)="addKey()">Add key</button>

