<div class="row">
  <layout-editor class="col"></layout-editor>
</div>
<hr>
<div class="row">
  <div class="col-4">
    <h2>Combos</h2>
    <button *ngFor="let combo of keyMapService.combos$ | async"
            class="btn btn-block btn-secondary"
            (click)="keyMapService.selectCombo(combo)">
      {{combo.name}}
      <fa-icon [icon]="faTrash"
               [ngStyle]="{color: combo.color, 'opacity': '0.4'}"
               (click)="keyMapService.deleteCombo(combo)" class="float-right" title="Delete this combo"></fa-icon>
    </button>
    <form class="mt-1">
      <label for="newComboName">New combo</label>
      <input class="form-control" type="text" [(ngModel)]="newComboName" id="newComboName" name="newComboName">
      <button class="btn btn-info mt-1" (click)="addCombo()">Add</button>
    </form>
  </div>

  <div class="col-8">
    <combo-form *ngIf="selectedCombo.name != ''"></combo-form>
    <article *ngIf="selectedCombo.name === ''">
      <p>Enter a name and click the button to start creating a new combo, or select a combo from the list on the left to
        start editing it. Use the trash icon to delete a combo.</p>
      <p>In the keyboard above you can select the keys that are part of the combo that you are working on. Clicking
        next to the keys will deselect them all. The combos can be color-coded so that you can easily see which keys are
        in the same combo.</p>
    </article>
  </div>
</div>

<div class="row mt-3">
  <div class="col-6">
    <a routerLink="/behavior" routerLinkActive="active" class="btn btn-info">
      &nbsp;Back
      <fa-icon [icon]="faArrowLeft" class="float-left"></fa-icon>
    </a>
  </div>
  <div class="col-6">
    <a routerLink="/code" routerLinkActive="active" class="btn btn-info float-right">
      Next&nbsp;
      <fa-icon [icon]="faArrowRight" class="float-right"></fa-icon>
    </a>
  </div>
</div>
