<div class="row">
  <layout-editor class="col"></layout-editor>
</div>
<hr>
<div class="row">
  <div class="col-lg-2">
    <h2>Combos</h2>
    <button *ngFor="let combo of keyMapService.combos$ | async"
            class="btn btn-block"
            [ngClass]="combo.name===selectedCombo.name?'btn-primary':'btn-secondary'"
            (click)="keyMapService.selectCombo(combo)">
      {{combo.name}}
      <button  class="btn-sm float-right" (click)="keyMapService.deleteCombo(combo)">del</button>
    </button>
    <form class="mt-1">
      <label for="newComboName">New combo</label>
      <input class="form-control" type="text" [(ngModel)]="newComboName" id="newComboName" name="newComboName">
      <button class="btn btn-info mt-1" (click)="addCombo()">Add</button>
    </form>
  </div>

  <div class="col-lg-10">
    <combo-form *ngIf="selectedCombo.name != ''"></combo-form>
  </div>
</div>
