<div class="row">
    <layout-editor class="col"></layout-editor>
</div>
<hr>

<div class="row">
  <div class="col-4">
    <button *ngFor="let layer of keyMapService.layers$ | async" class="btn btn-block" [ngClass]="layer.name===currentLayer.name?'btn-primary':'btn-secondary'" (click)="keyMapService.selectLayer(layer)">
      {{layer.name}}
    </button>
  </div>
  <div class="col-8">
    <article *ngIf="!keyMapService.currentKeyAvailable">
      <p>Define what the keys should do in each layer. First select a layer in the list to the left, then click a key above to
      select a behavior in the form that will appear here. Refer to the <a href="https://zmk.dev/docs/behaviors/key-press" target="_blank">ZMK documentation</a> for a detailed explanation of
      the behaviors.</p>
    </article>
    <div *ngIf="keyMapService.currentKeyAvailable">
      <behavior-selector></behavior-selector>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-6">
    <a routerLink="/layers" routerLinkActive="active" class="btn btn-info">
      &nbsp;Back
      <fa-icon [icon]="faArrowLeft" class="float-left"></fa-icon>
    </a>
  </div>
  <div class="col-6">
    <a routerLink="/combos" routerLinkActive="active" class="btn btn-info float-right">
      Next&nbsp;
      <fa-icon [icon]="faArrowRight" class="float-right"></fa-icon>
    </a>
  </div>
</div>
